{
    "presets": [
      ["@babel/preset-env",
        {
          "targets": {
            "node": "current"   // the node being used during conversion
          }
        }
      ],
      "@babel/preset-react"
    ],
    "plugins": [
      "react-hot-loader/babel"
    ]
}